<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Validation - TicketMaster</title>
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.16/dist/vue.global.prod.js"></script>
    <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .navbar-brand {
      font-weight: bold;
    }
    .container {
      margin-top: 50px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">TicketMaster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="ticketOfficer.html">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Ticket Validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="processTicketSales.html">Process Ticket Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="issueTickets.html">Issue E-Tickets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Ticket Validation</h2>
      <p>This is the page for ticket validation.</p>
      <input type="number" class="form-control">
      <button class="btn rounded-pull w-100 mt-3" @click="checkValidity()" > Check check bokchoy</button>
      <div id="app">
        {{ status }}
        <p v-if="status == true "> fuck </p>
        <p v-if="status == false "> fuck2 </p>
      </div>

    </div>
  </div>
</div>

<script>
  const app = Vue.createApp({

    data () {
      return {
        status: ""
    }
  },

  methods: {
      checkValidity() {

            token = localStorage.getItem("token")
            console.log(token)

            fetch("http://localhost:8081/api/v1/events/{eventID}/check-validity", {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            })
            .then(response => {
                console.log(response)
                if (!response.ok) {
                    throw new Error("error")
                }
                return response.json()
            })
            .then(data => {
                console.log(data)
                this.status = data.content
                console.log(data.content)
                if(this.status == true){
                  
                }
                
            })
            .catch(error => {
                console.log(error)
            })

        }

    }, 

    created() {
        console.log("here")
        this.checkValidity()
    }

}).mount('#app')

</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
