<!-- page to validate the authenticity of tickets -->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.16/dist/vue.global.prod.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="../lib/stylesheet.css">

    <link rel="stylesheet" href="../lib/animate/animate.min.css">
    <link rel="stylesheet" href="../lib/owlcarousel/assets/owl.carousel.min.css">
    <!-- Add Axios Library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Logout -->
    <script src="logout.js"></script>
</head>

<body class="background" id="app">
    <!-- Nav Bar --> 

    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand px-3" href="/event-management-master/ui/ticketOfficer/ticketOfficer.html">
                <h1 class="fw-bold text-light">
                    Ticket.ly
                </h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ms-auto p-4 p-lg-0"> <!-- change me to ms to position right-->
                    <a href="/event-management-master/ui/ticketOfficer/ticketOfficer.html" class="nav-item nav-link active">Home</a>
                    <a href="/event-management-master/ui//ticketOfficer/ticketValidity.html" class="nav-item nav-link">Ticket Validity</a>  
                    <a href="/event-management-master/ui//ticketOfficer/processTicketSales.html" class="nav-item nav-link">Ticket Sales</a>
                    <a href="/event-management-master/ui//ticketOfficer/issueTickets.html" class="nav-item nav-link">Issue Tickets</a>
                    <a class="btn mx-2" @click="logout()">Logout</a>
                </div>
            </div>
        </div>
    </nav>

<div class="container" id="app">
  <div class="row">
    <div class="col-md-12">
      <h2>Ticket Validation</h2>
      <p>This is the page for ticket validation.</p>
      <input type="number" class="form-control" v-model="eventID">
      <button class="btn rounded-pull w-100 mt-3" @click="checkValidity" > Check check bokchoy</button>
      <div>
        {{ status }}
        <p v-if="status == true "> fuck </p>
        <p v-if="status == false "> fuck2 </p>
      </div>

    </div>
  </div>
</div>

<script>
  const app = Vue.createApp({

    data () {
      return {
        status: "",
        eventID: 0
      }
    },

  methods: {
      checkValidity() {

            token = localStorage.getItem("token")
            console.log(token)
            console.log(this.eventID)

            fetch('http://localhost:8081/api/v1/tickets/get_status/{this.ticketID}', {
                // headers: {
                //     'Authorization': 'Bearer ' + token
                // }
            })
            .then(response => {
                console.log(response)
                if (!response.ok) {
                    throw new Error("error")
                }
                return response.json()
            })
            .then(data => {
                console.log(data)
                this.status = data.content
                console.log(data.content)
                if(this.status == true){
                  
                }
                
            })
            .catch(error => {
                console.log(error)
            })

        }

    }, 

    created() {
        console.log("here")
        // this.checkValidity()
    }

}).mount('#app')

</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
