<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.16/dist/vue.global.prod.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid m-2">
              <a class="navbar-brand" href="home.html" style="font-size: 30px; margin-left: 15px;">Event Master</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="customer_home.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="customer_booking.html">My Booking</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="customer_wallet.html">My Wallet</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" v-on:click="logout()" href="#">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <!-- Modals for each event -->
        <div v-for="event in events" :key="event.id" class="modal fade" :id="'modal-' + event.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ event.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Add additional details here if needed -->
                        <p>Event Date and Time: {{ event.eventDateTime }}</p>
                        <p>Location: {{ event.venue }}</p>
                        <p>Available Tickets: {{ event.availableTickets }}</p>
                        <p>Price: ${{ event.ticketPrice }}</p>
                        <form @submit.prevent="purchaseTickets(event)">
                            <div class="mb-3">
                                <label for="ticketQuantity" class="form-label">Number of Tickets:</label>
                                <input type="number" class="form-control" id="ticketQuantity" v-model="ticketQuantity" required min="1" max="4">
                            </div>
                        </form>
                        <p>Wallet Balance: ${{walletBalance}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="closeModal(event)" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="processTicketsPurchase(event)">Buy Ticket</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Music Concert -->
        <div class="container mt-4">
            <h1>Music Concert</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Example show card -->
                <div v-for="event in music_concert" class="col">
                    <div class="card h-100">
                        <!-- <img src="https://via.placeholder.com/300" class="card-img-top" alt="Show Image"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <ul class="list-unstyled">
                                <li>Event Date and Time: {{ event.eventDateTime }}</li>
                                <li>Location: {{ event.venue }}</li>
                                <li>Available Ticket: {{ event.availableTickets }}</li>
                                <li>Price: ${{ event.ticketPrice }}</li>
                            </ul>
                            <button class="btn btn-primary" @click="openModal(event)">Buy Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Theatre Shows -->
        <div class="container mt-4">
            <h1>Theatre Shows</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Example show card -->
                <div v-for="event in theatre_show" class="col">
                    <div class="card h-100">
                        <!-- <img src="https://via.placeholder.com/300" class="card-img-top" alt="Show Image"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{event.name}}</h5>
                            <ul class="list-unstyled">
                                <li>Event Date and Time: {{event.eventDateTime}}</li>
                                <li>Location: {{event.venue}}</li>
                                <li>Available Ticket: {{event.availableTickets}}</li>
                                <li>Price: ${{event.ticketPrice}}</li>
                            </ul>
                            <button class="btn btn-primary" @click="openModal(event)">Buy Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Seminar Events -->
        <div class="container mt-4">
            <h1>Seminar Events</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Example show card -->
                <div v-for="event in seminar" class="col">
                    <div class="card h-100">
                        <!-- <img src="https://via.placeholder.com/300" class="card-img-top" alt="Show Image"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{event.name}}</h5>
                            <ul class="list-unstyled">
                                <li>Event Date and Time: {{event.eventDateTime}}</li>
                                <li>Location: {{event.venue}}</li>
                                <li>Available Ticket: {{event.availableTickets}}</li>
                                <li>Price: ${{event.ticketPrice}}</li>
                            </ul>
                            <button class="btn btn-primary" @click="openModal(event)">Buy Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Other Events -->
        <div class="container my-4">
            <h1>Other Events</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Example show card -->
                <div v-for="event in other_event" class="col">
                    <div class="card h-100">
                        <!-- <img src="https://via.placeholder.com/300" class="card-img-top" alt="Show Image"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{event.name}}</h5>
                            <ul class="list-unstyled">
                                <li>Event Date and Time: {{event.eventDateTime}}</li>
                                <li>Location: {{event.venue}}</li>
                                <li>Available Ticket: {{event.availableTickets}}</li>
                                <li>Price: ${{event.ticketPrice}}</li>
                            </ul>
                            <button class="btn btn-primary" @click="openModal(event)">Buy Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Check if user is logged in
    if (localStorage.getItem('customer_token')) {
        const customer_token = localStorage.getItem('customer_token');
    }
    else {
        window.location.href = "login.html";
    }
    const app = Vue.createApp({
        created() {
            this.getAllAvailableEvents();
            this.getUserInfo();
        },

        data() {
            return {
                music_concert: [],
                theatre_show: [],
                seminar: [],
                other_event: [],
                events: [],
                ticketQuantity: 1,
                paymentMethod: "WALLET",
                walletBalance: 0,
            };
        },
        methods: {
            logout() {  
                localStorage.removeItem("customer_token");
                window.location.href = '../../login.html';
            },

            getUserInfo() {
                const URL = "http://localhost:8081/api/v1/users/profile";

                const headers = new Headers();
                const customer_token = localStorage.getItem('customer_token');
                headers.append('Authorization', `Bearer ${customer_token}`);

                return fetch(URL, {
                    method: 'GET',
                    headers: headers
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    this.walletBalance = data.walletDetails.balance
                    return data
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    // Rethrow the error to be handled by the caller
                    throw error;
                });
            },


            getAllAvailableEvents() {
                const URL = `http://localhost:8081/api/v1/events`;

                // Create headers object
                const headers = new Headers();
                const customer_token = localStorage.getItem('customer_token');
                headers.append('Authorization', `Bearer ${customer_token}`);

                // Make fetch request with headers
                return fetch(URL, {
                    method: 'GET',
                    headers: headers
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => { 
                    for (event of data) {
                        if (event.eventState == "ACTIVE") {
                            this.events.push(event)
                        }
                        if (event.eventState == "ACTIVE" && event.eventType == "MUSIC_CONCERT") {
                            this.music_concert.push(event);
                        }
                        if (event.eventState == "ACTIVE" && event.eventType == "THEATRE_SHOW") {
                            this.theatre_show.push(event);
                        }
                        if (event.eventState == "ACTIVE" && event.eventType == "SEMINAR") {
                            this.seminar.push(event);
                        }
                        if (event.eventState == "ACTIVE" && event.eventType == "OTHER") {
                            this.other_event.push(event);
                        }
                    }

                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    // Handle errors (e.g., show error message)
                });
            },

            openModal(event) {
                const modalId = 'modal-' + event.id;
                const modal = new bootstrap.Modal(document.getElementById(modalId));
                modal.show();
            },

            closeModal(event) {
                const modalId = 'modal-' + event.id;
                const modalElement = document.getElementById(modalId);
                const modalInstance = bootstrap.Modal.getInstance(modalElement);
                this.ticketQuantity = 1;
                modalInstance.hide();
            },



            processTicketsPurchase(event) {
            this.getUserInfo().then(customer_info => {
                // Create headers object
                const headers = new Headers();
                const customer_token = localStorage.getItem('customer_token');
                headers.append('Authorization', `Bearer ${customer_token}`);
                headers.append('Content-Type', 'application/json'); // Set Content-Type header

                const requestBody = {
                    bookingUserEmail: customer_info.email,
                    bookingMobileNumber: customer_info.mobileNumber,
                    eventId: event.id,
                    numberOfTickets: this.ticketQuantity,
                    transactionDetail: {
                        paymentMethod: this.paymentMethod
                    }
                };

                const URL = "http://localhost:8081/api/v1/bookings";
                fetch(URL, {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify(requestBody)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message != null) {
                        alert(data.message);
                    }
                    else {
                        alert("Tickets purchased successfully!")
                        console.log('Tickets purchased successfully:', data);

                        // Reload the events to get updated tickets quantity and wallet balance
                        this.music_concert = [];
                        this.theatre_show = [];
                        this.seminar = [];
                        this.other_event = [];
                        this.events = [];
                        this.getAllAvailableEvents();
                        this.getUserInfo();
                    }

                    this.closeModal(event);
                    
                })
                .catch(error => {
                    console.error('Error processing tickets purchase:', error);
                });

            }).catch(error => {
                console.error('Error fetching user info:', error);
            });
        }
        }
    });

    app.mount('#app');  
</script>

</body>
</html>