<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.16/dist/vue.global.prod.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add Axios Library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app" class="container mt-5">
        <h1>Ticket Officer Login</h1>
        <form @submit.prevent="login">
            <div class="row mt-4">
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" v-model="email" required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" v-model="password" required>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <div v-if="errorMessage" class="mt-3 alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
        <div v-if="successMessage" class="mt-3 alert alert-success" role="alert">
            {{ successMessage }}
        </div>
    </div>


    <script>

        const app = Vue.createApp({
            created() {
                this.checkLogin();
            },

            data() {
                return {
                    errorMessage: "",
                    successMessage: "",
                    email: '',
                    password: '',
                }
            },

            methods: {
                checkLogin() {
                    if (localStorage.getItem("to_token")) {
                        window.location.href = "ticketOfficer/ticketOfficer.html"
                    }
                },

                login() {

                    const reqBody = {
                        email: this.email, 
                        password: this.password
                    }

                    console.log(reqBody)

                    fetch("http://localhost:8081/api/v1/auth/signin", {
                        method: 'POST', 
                        headers: {
                            'Content-Type': 'application/json'
                        }, 
                        body: JSON.stringify(reqBody)
                    })
                    .then(response => {
                        console.log(response)

                        if (!response.ok) {
                            console.log("got error")
                            // alert("Oops! It seems like you entered the wrong username or password. Please try again.")
                            this.errorMessage = "Oops! It seems like you entered the wrong username or password. Please try again."
                            throw new Error("got error")
                        }
                        return response.json()
                    })
                    .then(data => {
                        console.log(data)
                        console.log(data.role)
                        console.log(data.token)

                        if (data.role == "ROLE_TICKET_OFFICER") {
                            //REDIRECT TO TICKETING OFFICER PAGE
                            localStorage.setItem('to_token', data.token)
                            window.location.href = "ticketOfficer/ticketOfficer.html"
                        }
                        else {
                            this.errorMessage = "You are trying to log in as a Ticket Officer. Your account is not authorised to access this page!"
                        }
                    })
                    .catch (error => {
                        console.log(error)
                    })
                }

            }

        }).mount("#app")

    </script>


</body>
</html>